* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: rebeccapurple;
}

nav {
    display: flex;
    width: 100%;
    padding: 10px 81px;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    
}

nav p {
    font-size: 20px;
    font-weight: 600;
}

nav ul {
    display: flex;
    align-items: flex-start;
    text-decoration: none;
    gap: 40px;
    
}

nav ul li {
    list-style: none;
    
    
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
}

.btn {
    display: flex;
    width: 160px;
    height: 50px;
    padding: 17px 33px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #07f;
    border-radius: 50px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
} 

.hero-section {
    background: #fff;
    width: 100%;
    height: 90vh;
    padding: 100px 81px;
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
}

.hero-left-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#main-pic {
    width: 500px;
    height: 500px;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 50%;
}

#welcome-text {
    color: #222;
    font-size: 25px;
    font-weight: 600;
}